/* write your css here */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* min-width: 100vw; */
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Dosis', sans-serif;
}

.btn-pink{
    background-color: #e84949;
    border: 0px solid #e84949;
margin-top: 18px;
    color: white;
    padding: 0.8rem 2.3rem;
    font-size: 18px;
    box-shadow: 5px 5px 10px 0px black;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
.btn-pink::before{
    content: " ";
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: 1s;
    z-index: -1;

}
.btn-pink:hover::before{
    transform: scaleX(1);
}

.container{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title{
    font-size: 3rem;
    margin: 6vh;
    border: 7px dashed pink;
    border-radius: 20px;
    padding: 1vh 5vw;
}
.cards{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1300px;
  margin: 0 auto;
  align-items: baseline;
}
.card{
    width: 400px;
    height: max-content;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border: 2px solid palegreen;
    border-radius: 20px;
    align-items: center;
    box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
}
.image{
    
    width: 380px;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.tour-info{
    margin:20px 5px;

}
.tour-price{
    color: green;
}
.tour-name{
    font-size: 1.5rem;
}
.readmore{
    cursor: pointer;
    color: #06a4dd;
    font-family: 'Courier New', Courier, monospace;
}
.description{
    margin-top: -10px;
}
.button-red{
    margin-top: 30px;
    padding: 10px 80px;
    border: 1px solid #b4161b;
    cursor: pointer;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: #b4161b21;

}
.button-red:hover{
    background-color: red;
    color: white;
    transition: all 0.2s;
}
.refresh{
    /* width: 100vw; */
    height: 100vh;
    background:linear-gradient(236deg, rgba(238, 130, 238, 1) 0%, rgba(0, 209, 255, 1) 100%);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 500px){
    .title{
        font-size: 2rem;
    }
}
